.block__inner {
  width: 83%;
  height: 100%;
  background: #fff;
}

.block__header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(255, 255, 255);
  box-shadow: 0px 2px 4px -1px #00000033, 0px 4px 5px 0px #00000024, 0px 1px 10px 0px #0000001f;
  padding: 0 40px;
}

.header__search_box {
  display: flex;
  align-items: center;
}

.header__search_icon {
  font-size: 22px;
  margin-right: 10px;
  color: rgb(134, 133, 133);
}

.header__search_inp {
  background: transparent;
  border: none;
  color: rgb(212, 211, 211);
  font-size: 16px;
  font-weight: 500;

  &::placeholder {
    color: rgb(212, 211, 211);
  }
}

.header__btn {
  font-size: 25px;
  color: rgb(134, 133, 133);
  background: transparent;
  border: none;
  margin: 0 5px;
}

.block__main {
  width: 100%;
  height: 100%;
}

.main__user-box {
  width: 100%;
  height: auto;
  background: transparent;
  padding: 32px;
  display: flex;
}

.user__icon {
  width: 75px;
  height: 80px;
  border-radius: 10px;
  box-shadow: 0px 2px 1px -1px #00000033, 0px 1px 1px 0px #00000024, 0px 1px 3px 0px #0000001f;
  text-align: center;
  margin-right: 32px;
}

.user__icon i {
  font-size: 50px;
  line-height: 75px;
  text-align: center;
}

.main__title {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.0075em;
  margin-bottom: 0;
}

.main__tit {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.57;
  letter-spacing: 0.00714em;
  opacity: 0.6;
  margin: 0;
}

.main__content {
  width: 100%;
  height: 100%;
  padding: 24px;
  background: #f4f5fd;
}

.main__content-box {
  margin: 20px;
  padding: 24px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 2px 1px -1px #00000033, 0px 1px 1px 0px #00000024, 0px 1px 3px 0px #0000001f;
}

.content__add-btn {
  padding: 8px 15px 12px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: #333996;
  background: transparent;
  border-radius: 4px;
  border: 1px solid #333996;
  transition: all 0.3s ease;
  margin-right: 15px;
  cursor: pointer;

  &:hover {
    background: rgba(235, 235, 235, 0.459);
  }
}
